* {
  box-sizing: border-box;
}
.center {
  margin: 0 auto;
}
img {
  width: 100%;
}
figcaption {
  text-align: center;
  font-size: 2em;
}
figcaption span {
  font-weight: bold;
}
.fc:after, .fc:before {
  content: '';
  display: table;
}
.fc:after {
  clear: both;
}
.w-30p {
  width: 30%;
}
.w-70p {
  width: 70%;
}
.w-80p {
  width: 80%;
}
.fl-r {
  float: right;
}
.fl-l {
  float: left;
}
.no-margin {
  margin: 0;
}
.p-20 {
  padding: 20px;
}
.hidden {
  display: none;
}

.list {
  list-style-type: none;
  padding: 10px;
}

.list li {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid lightgray;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 5px;
  box-shadow: 1px 1px 1px 1px gray;
}
.list li:active {
  transform: translateY(2px);
  box-shadow: 1px 0 1px 1px gray;
}
